@font-face {
    font-family: "custom-font";
    src: url("./assets/fonts/19db990205089207b039.woff2");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "custom-font";
}

html {
    scroll-behavior: smooth;
    transition: all 600ms;
}

body {
    background-color: #121F43;
    overflow-x: hidden;
}

.color-highlight {
    color: #FF5F1F;
}

.color-highlight2 {
    color: cyan;
}

/* NavBar CSS */
.navbar {
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: #121F43;
    align-items: center;
    text-align: center;
    display: flex;
    z-index: 9999;
}

.nav-name {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    width: 30%;
}

.nav-name span {
    color: cyan;
}

.initials {
    display: none;
}

.initials span {

}

.nav-links {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
}

.nav-links a {
    margin-right: 40px;
    text-decoration: none;
    color: white;
    z-index: 1;
    cursor: pointer;
}

.nav-links a:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.nav-links a:hover {
    color: cyan;
}

.nav-links a:hover:after {
    width: 100%;
    /* background: white; */
    margin-top: 5px;
    border-bottom: 2px solid white;
}

.nav-resume {
    width: 100px;
    height: 45px;
    background-color: inherit;
    border-radius: 16px;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
}

.nav-resume:hover {
    color: cyan;
}

.show {
    opacity: 0.4;
    background-color: yellow;
}

.transition {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

/* MENU BUTTON AND DESIGN */
.btn__menu {
    background-color: transparent;
    border: none;
    height: 30px;
    width: 30px;
    font-size: 20px;
    text-align: center;
    color: white;
    padding-right: 20px;
    display: none;
    transition: all 300ms ease;
}

.btn__menu:hover {
    color: cyan;
}

.menu__backdrop {
    z-index: 10;
    position: fixed;
    top: 0px;
    /* left: 400px; */
    right: 0px;
    margin: 1.5rem 2.0rem;
    padding: 2rem;
    border: 1px solid white;
    text-align: center;
    border-radius: 0.5rem;
    /* background-color: rgba(255, 255, 255, 1); */
    background-color: rgb(15, 37, 97);
    transition: all 300ms ease;
    visibility: hidden;
    display: none;
    display: block;
    transform: translateX(150%) translateZ(0px);
}

.menu__backdrop,
.btn__menu:hover {
    cursor: pointer;
}

.menu--open .menu__backdrop {
    visibility: visible;
    display: flex;
    opacity: 1;
    display: block;
    transform: translateX(0%) translateZ(0px);
}

.btn__menu--close {
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 2px;
    /* color: rgb(0, 0, 0); */
    color: white;
    font-size: 20px;
}

.btn__menu--close:hover {
    color: cyan;
    /* color: #FF5F1F; */
}

.menu--open {
    overflow-y: hidden;
    max-height: 100vh;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu__list {
    padding: 16px 0;
    display: flex;
}

.menu__link {
    /* color: rgb(0, 0, 0); */
    color: white;
    font-size: 20px;
    height: 40px;
    padding: 4px;
    text-transform: uppercase;
    text-decoration: none;
}

.menu__link:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.menu__link:hover:after {
    width: 100%;
    /* background: white; */
    margin-top: 5px;
    border-bottom: 2px solid cyan;
}

.menu__link-primary {}


.menu__link-primary {
    transition: all 300ms ease;

}

.menu__link-primary:hover {
    color: white;
    text-decoration: none;
    opacity: 1;
}

/* MODAL */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1000px;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    z-index: 99999;
    transition: visibilty 1s, z-index 1s, box-shadow 0.5 ease;
}

.modal--open .modal {
    z-index: 9999;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
    visibility: visible;
}

.modal__half {
    width: 50%;
    padding: 40px 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: all 300ms ease-in;
}

.modal--open .modal__about,
.modal--open .modal__contact {
    transform: translateX(0%);
}

/* .dark-theme .bolded {
    font-weight: bold;
    color: #64ffda;
}

.dark-theme .flask {
    filter: invert(1);
} */

.modal__about {
    background-color: rgb(245, 245, 245);
    transform: translateX(-110%);
    color: black;
}

/* .dark-theme .modal__about {
    background-color: #0a192f;
    color: white;
} */

.modal__contact {
    background-color: #242424;
    color: white;
    transform: translateX(110%);
}

.modal__languages {
    display: flex;
    flex-wrap: wrap;
}

.modal__language {
    width: 25%;
    padding: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 300ms ease-in;
}

.modal__language:hover .language__name {
    transform: scale(1);
}

.modal__language:hover {
    filter: brightness(80%);
    transform: scale(0.9);
}

.language__name {
    position: absolute;
    bottom: -10px;
    transform: scale(0);
    transition: all 300ms ease;
}

.modal__language--img {
    width: 100%;
}



.modal__title {
    font-size: 36px;
}

.modal__sub-title {
    margin: 12px 0 24px 0;
    font-size: 24px;
}

.modal__para {
    margin-bottom: 12px;
    line-height: 1.75;
}

.form__item {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.input {
    width: 60%;
    padding: 3px;
}

.form__submit {
    background-color: #FF5F1F;
    border: 2px solid #FF5F1F;
    color: white;
    font-weight: 700;
    width: 100%;
    max-width: 240px;
    padding: 6px 12px;
    font-size: 20px;
    border-radius: 1px;
    transition: all 300ms ease;
}

/* .dark-theme .form__submit {
    background-color: #64ffda;
    border: 2px solid #64ffda;
    color: rgb(0, 0, 0);
    font-weight: 700;
    width: 100%;
    max-width: 240px;
    padding: 6px 12px;
    font-size: 20px;
    border-radius: 1px;
    transition: all 300ms ease;
} */

.form__submit:hover {
    border-color: #fff;
    background-color: transparent;
}

/* .dark-theme .form__submit:hover {
    border-color: white;
    color: white;
    background-color: transparent;
} */

.form__submit:active {
    border-color: #f06449;
    color: #f06449;
}

/* .dark-theme .form__submit:active {
    border-color: #64ffda;
    color: #64ffda;
} */

.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;

}

.modal__overlay--loading {
    background-color: #242424;
    font-size: 60px;
    z-index: -1;
}

.modal__overlay--success {
    background-color: #4bb543;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 28px;
    z-index: -1;

}

.modal__overlay--visible {
    z-index: 1;
    display: flex;
}

.fa-spinner {
    animation: spinner 860ms infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }

}

.modal__exit {
    position: absolute;
    top: 30px;
    right: 40px;
    color: #fff;
    font-size: 36px;
    z-index: 100;
    transition-duration: 1.2s;
    /* transition-property: transform; */
}

.modal__exit:hover {
    cursor: pointer;
    color: cyan;
    transform: rotate(180deg);
}

.modal--open nav,
.modal--open .scroll,
.modal--open .header {
    opacity: 0;
    visibility: hidden;
    transition: all 400ms;
}



/*End of NavBar CSS*/

/* .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
} */

section {
    width: 100%;
    height: fit-content;
    color: white;
    position: relative;
    padding-top: 100px;
    /* margin-top: 300px; */
    /* margin-bottom: 200px; */
    /* background-color: #121F43; */
}

.section-title {
    font-size: 3rem;
    margin-bottom: 60px;
}

.intro {
    /* background-color: rgb(89, 99, 110); */
    background-color: #121F43;
    color: white;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

.intro-left {
    width: 55%;
}

.intro-right {
    width: 40%;
    z-index: 9998;
}

.color-splash {
    background-color: #FF5F1F;
    width: 1000px;
    height: 750px;
    transform: skewX(-20deg);
    /* transform: rotate(90deg); */
    position: absolute;
    z-index: 1;
    top: -30px;
    right: -200px;
    border-radius: 40%;
    opacity: .3;
}

.jang {
    border-top-right-radius: 40%;
    border-top-left-radius: 40%;
    width: 80%;
}

.intro .typing {
    color: #FF5F1F;
    font-weight: 500;
}

.intro .my-name {
    color: cyan;
    font-weight: bold;
}

.intro h1 {
    font-size: 6rem;
    margin-bottom: 20px;
}

.intro h2 {
    font-size: 5rem;
}


/*Start of About Me*/
.about-me {
    flex: 1;
    width: 100%;

    padding: 30px;
    padding-top: 150px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-left {
    width: 40%;
}

.about-left p {
    text-align: start;
    line-height: 140%;
    font-size: 2.2rem;
}

.about-right {
    width: 40%;
}

.about-photo {
    width: 50%;
    border-radius: 8%;
    border: 4px solid #FF5F1F;
}

.about-right:hover .about-photo {
    box-shadow: 2px 4px 12px black;
}


/*Start of Projects*/
.projects {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

}

.project-card-container {
    margin: 0 auto;
}

.project-card {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 40px;
    background-color: #0f2561;
    box-shadow: 4px 4px 16px black;
    border-radius: 16px;
    text-align: center;
}

.project-name {
    font-size: 2.5rem;
    margin-bottom: 60px;
}

.project-content {
    display: flex;
    justify-content: space-evenly;
    vertical-align: top;
}

.project-description {
    width: 50%;
    text-align: start;
    line-height: 160%;
    font-size: 1.4rem;
}

.demo-link {
    text-decoration: none;
}

.tech-used {
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    height: 50px;
    margin-bottom: 20px;
}

.tech-used li {
    margin-left: 12px;
}

/* Slideshow container */
.carousel {
    /* max-width: 45%; */
    width: 35vw;
    height: 35vh;
    position: relative;
}

.carousel>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 2.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}

/* Hide the images by default */
.slide {
    position: absolute;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}


.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


/*End of Projects*/

/*Start of Education and experience*/
.education-section .section-title {
    text-align: center;
}

.education-experience {
    width: 100%;
    margin: 0 auto;
    display: flex;

}

.school-card {
    width: 45%;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 40px;
    background-color: #0f2561;
    /* border: 2px solid white; */
    box-shadow: 4px 4px 16px black;
    border-radius: 16px;
    text-align: center;
}

.schoollogo {
    width: 150px;
    height: 100px;
}

.school-name {
    font-size: 2.5rem;
}

.school-card li {
    list-style: none;
    font-size: 1.8rem;
    margin-top: 10px;
}

/* FOOTER */
footer {
    margin-top: 150px;
    height: 75px;
    background-color: #0f2561;
    box-shadow: 0px -4px 16px black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(131% + 1.3px);
    height: 258px;
}

.wave .shape-fill {
    fill: #FF5F1F;
}


/* ALL MEDIA QUERIES BELOW */



@media(max-width: 1550px) {
    .color-splash {
        transition: 300ms ease-in-out;
        width: 800px;
        height: 650px;
    }

    .about-photo {
        width: 70%;
        transition: 200ms ease-in;
    }
}

@media(max-width: 1300px) {
    .color-splash {
        transition: 300ms ease-in-out;
        width: 700px;
        height: 600px;
    }

    .about-photo {
        width: 80%;
        transition: 200ms ease-in;
    }

    .project-content {
        flex-direction: column;
        justify-content: space-evenly;
        /* transition: 1000ms ease-in; */
        /* vertical-align: top; */
    }

    .project-description {
        width: 100%;
        /* text-align: start; */
        line-height: 160%;
        font-size: 1.4rem;
    }

    .carousel {
        /* max-width: 45%; */
        width: 100%;
        height: 50vh;
        position: relative;
        
    }
}

@media(max-width: 1120px) {
    .color-splash {
        transition: 300ms ease-in-out;
        width: 600px;
        height: 525px;
    }

    .intro h1 {
        font-size: 5rem;
        margin-bottom: 20px;
    }
    
    .intro h2 {
        font-size: 3.5rem;
    }

    .carousel {
        /* max-width: 45%; */
        width: 100%;
        height: 40vh;
        position: relative;
        
    }
}

@media(max-width: 1015px) {
    .nav-links {
        display: none;
        visibility: hidden;
    }

    .btn__menu {
        display: block;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
    }

}

@media(max-width: 921px) {
    .color-splash {
        transition: 300ms ease-in-out;
        width: 540px;
        height: 440px;
    }

    .intro h1 {
        font-size: 4.5rem;
        margin-bottom: 20px;
    }
    
    .intro h2 {
        font-size: 3rem;
    }

    .wave svg{
        /* display: none; */
        height: 150px;
    }

    .about-me {
        flex-direction: column-reverse;
    }

    .about-left {
        width: 80%;
        font-size: 1rem;
        margin: 0 auto;
        margin-bottom: 50px;
        padding: 40px;
        background-color: #0f2561;
        box-shadow: 4px 4px 16px black;
        border-radius: 16px;
        text-align: center;
    }

    .about-left p {
        transition: 200ms ease-in;
        font-size: 1.5rem;
        line-height: 200%;
    }

    .about-right {
        margin-bottom: 20px;
    }

    .project-description {
        transition: 500ms ease-in;
        font-size: 1.5rem;
    }

    .tech-used {
        transition: 500ms ease-in;
        font-size: 1rem;
    }

    .carousel {
        /* max-width: 45%; */
        width: 100%;
        height: 30vh;
        position: relative;
        
    }

    .education-experience {
        flex-direction: column;
    }

    .school-card {
        width: 80%;
    }

    .school-card li {
        list-style: square;
    }
}

@media(max-width: 803px) {
    .color-splash {
        display: none;
    }

    .jang {
        display: none;
    }

    .intro-left {
        width: 80%;
        /* margin-bottom: 40px; */
    }

    .intro-left h2 {
        height: 120px;
    }

    .intro-right {
        width: 0%;
    }

    .wave svg{
        /* display: none; */
        height: 100px;
    }

    .about-right {
        width: 50%;
        padding-bottom: 100px;
    }

    .tech-used {
        flex-wrap: wrap;
    }

    .carousel {
        /* max-width: 45%; */
        width: 100%;
        height: 25vh;
        position: relative;
        
    }
}

@media(max-width: 675px) {
    /* .menu__link {
        color: rgb(0, 0, 0);
        font-size: 14px;
        height: 40px;
        padding: 4px;
        text-transform: uppercase;
    } */

    .modal {
        display: flex;
        flex-direction: column-reverse;
    }

    .modal__half {
        width: 100%;
    }

    .modal__about {
        padding-top: 120px;
        height: 50%;
        overflow-y: scroll;
    }

    .modal__about h2 {
        display: none;
    }

    .modal__contact {
        height: 100%;
    }

    .about-me {
        padding-top: 75px;
    }

    .about-right {
        width: 75%;
    }

    .about-left p {
        transition: 200ms ease-in;
        font-size: 1.5rem;
        line-height: 160%;
    }
}

@media(max-width: 520px) {
    .nav-name {
        display: none;
    }

    .initials {
        display: block;
        font-size: 3rem;
        color: white;
        font-weight: bold;
        width: 25%;
    }

    .initials span {
        color: cyan;
    }

    .intro h1 {
        font-size: 3.5rem;
        margin-bottom: 20px;
    }
    
    .intro h2 {
        font-size: 2.25rem;
    }

    .about-left p {
        transition: 200ms ease-in;
        font-size: 1.3rem;
        line-height: 120%;
    }

    .project-description {
        transition: 500ms ease-in;
        font-size: 1.3rem;
        line-height: 120%;
    }

    .carousel {
        /* max-width: 45%; */
        width: 100%;
        height: 15vh;
        position: relative;
        
    }
}

@media(max-width: 500px) {
    .project-name {
        margin-bottom: 30px;
    }

    .project-description {
        transition: 300ms ease-in;
        font-size: 1rem;
        line-height: 120%;
    }

    .tech-used {
        margin: 10px 0px 10px 0px;
    }

    .carousel {
        /* max-width: 45%; */
        padding-top: 10px;
        width: 100%;
        height: 12vh;
        position: relative;
    }
}

@media(max-width: 470px) {
    .modal__title {
        font-size: 1.75rem;
    }

    .modal__sub-title-contact {
        font-size: 1.2rem;
    }

}